.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.c-link {
  cursor: pointer;
}

.btn-block {
  display: block !important;
  width: 100% !important;
}

/* space */
.ml-2 {
  margin-left: 4px;
}